/*======== shake animation ==========*/

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

body {
  background-color: #f3f3f3;
}

.navbar {
  background-color: #17a2b8 !important;
}

.form-login {
  padding: 10px;
  min-width: 250px;
}

.form-login .form-control {
  height: 30px;
  font-size: 10pt;
}

.form-login .has-icon .icon-container {
  position: absolute;
  width: 40px;
  height: 30px;
}

.form-login .has-icon .icon-container i {
  margin: 0 auto;
  margin-top: 6px;
  color: #696969;
}

.form-login .has-icon .form-control {
  padding-left: 35px;
}

.form-login .form-group {
  margin-bottom: 10px;
}

.form-box {
  border: 1px solid #e6e6e6;
  padding-top: 20px !important;
  padding-bottom: 50px !important;
}

.form-box .title {
  font-size: 14pt;
  font-weight: bold;
  margin-bottom: 30px;
}

.form-box .form-control {
  height: 50px;
  font-size: 11pt;
}

.form-box .has-icon .icon-container {
  position: absolute;
  width: 40px;
  height: 30px;
}

.form-box .has-icon .icon-container i {
  margin: 0 auto;
  margin-top: 16px;
  color: #696969;
}

.form-box .has-icon .form-control {
  padding-left: 35px;
}

.alert {
  -webkit-box-shadow: 1px 2px 5px #bdbdbd;
          box-shadow: 1px 2px 5px #bdbdbd;
  border-radius: 0px;
}

.full {
  width: 100% !important;
}

.btn-default {
  background-color: #17a2b8 !important;
  border-color: #17a2b8 !important;
}

.btn-default:hover {
  background-color: #1fc8e3 !important;
  border-color: #1fc8e3 !important;
}

.btn-small {
  height: 30px;
  padding: 0px 15px 0px 15px;
  font-size: 10pt !important;
}

.form-box {
  background-color: #fff;
  padding: 30px;
}

.pad {
  padding-top: 70px;
  padding-bottom: 70px;
}

.content-pad {
  padding-top: 20px;
  padding-bottom: 20px;
}

.form-control,
.btn {
  border-radius: 0px;
}

.loading {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: rotating;
  animation-name: rotating;
  -webkit-animation-direction: normal;
  animation-direction: normal;
}

.error {
  color: red;
  font-style: italic;
}

.success {
  color: green;
  font-style: italic;
}

.feedback {
  font-size: 10pt;
}

.box {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #e6e6e6;
}

.box .title {
  font-size: 14pt;
  font-weight: bold;
  margin-bottom: 10px;
}

.social-icon a {
  color: #17a2b8;
  font-size: 24pt;
}

.social-icon a:hover {
  color: #1fc8e3;
}

.avatar {
  font-size: 70pt;
}

.text-group {
  margin-bottom: 10px;
}

.text-group label {
  font-size: 10pt;
  font-weight: bold;
  color: #1c1c1c;
}

.text-group .value {
  margin-top: -7px;
}

/* News */

.news-box {
  text-align: left;
  margin-bottom: 50px;
}

.news-box .card-text {
  font-size: 10pt !important;
  color: #7B7B7B;
}

.news-box .card-title a {
  font-size: 14pt !important;
  color: #000;
  font-weight: 600;
  margin-bottom: 5px !important;
}

.news-box .news-date {
  position: absolute;
  font-size: 10pt !important;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  background-color: #17a2b8;
}

.news-img-frame {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  height: 150px;
  background-color: #1c1c1c;
}

.news-img-frame img {
  -webkit-transition: 0.5s;
  /* Safari */
  transition: 0.5s;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.news-img-frame img:hover {
  width: 150%;
}

.content-toolbar {
  margin-top: -20px;
  margin-bottom: 10px;
}

.help {
  font-size: 10pt;
  color: #696969;
}

.tag {
  margin-right: 5px;
}

.badge-default {
  background-color: #17a2b8;
}

