@import 'animation';

//var
$default-color : #8c566b;
$default-color-lighter : lighten( $default-color, 10%);
$bg-color : #f2f2f2;
$pad : 56px;

body{
	background-color:$bg-color;
}

.form-login{
	padding:10px;
	min-width:250px;

	.form-control{
		height:30px;
		font-size:10pt;
	}

	.has-icon{
		.icon-container{
			position: absolute;
			width:10px;
			height:30px;

			i{
				margin:0 auto;
				margin-top: 1px;
				color:#696969;
			}
		}

		.form-control{
			padding-left: 35px;
		}
	}

	.form-group{
		margin-bottom: 10px;
	}
}

.form-box{
	border:1px solid #e6e6e6;
	border-radius:5px;
}



.alert{
	box-shadow:1px 2px 5px #bdbdbd;
	border-radius:0px;
}

.full{
	width:100% !important;
}

.btn-default{	
	background-color:$default-color !important;
	border-color:$default-color !important;
}

.btn-default:hover{	
	background-color:$default-color-lighter !important;
	border-color:$default-color-lighter !important;
}

.btn-small{
	height:30px;
	padding: 0px 15px 0px 15px;
	font-size:10pt !important;
}

.form-box{
	background-color:#fff;
	padding:30px;
}

.pad{
	padding-top:$pad;
	padding-bottom:$pad;
}

.content-pad{
	padding-top:0px;
	padding-bottom:40px;
}

.form-control, .btn{
	border-radius: 0px; 
}

.loading{
	@include rotating;
}

.error{
	color:red;
	font-style:italic;
}

.success{
	color:green;
	font-style:italic;
}

.feedback{
	font-size:10pt;
}

.social-icon{
	a{
		color:$default-color;
		font-size:24pt;
	}
	a:hover{
		color:$default-color-lighter;
	}
}

.avatar{
	font-size:70pt;
}

.text-group{
	margin-bottom:10px;

	label{
		font-size:10pt;
		font-weight:bold;
		color:#1c1c1c;
	}

	.value{
		margin-top:-7px;
	}
}

 /* News */
.news-box{
  	text-align: left;
  	margin-bottom:50px;
  	.card-text{
	  font-size:10pt !important;
	  color: #7B7B7B;
	}

	.card-title{
		a{
			font-size:14pt !important;
		  	color: #000;
		  	font-weight: lighten;
		  	margin-bottom: 5px !important;
		}
	  
	}

	.news-date{
	  font-size:10pt !important;
	  color: #696969;
	  font-weight: lighten;
	  padding:10px 0px 10px 0px;
	  text-align:right;
	}
}

.news-img-frame{
  	width:100%;
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	overflow: hidden;
  	height:150px;
  	background-color:#1c1c1c;

  	img{
	    -webkit-transition: 0.5s; /* Safari */
	    transition: 0.5s;
	    flex-shrink: 0;
	    min-width: 100%;
	    min-height: 100%;
	    object-fit: cover;
	}

	img:hover{
	    width: 150%;
	}
}

.news-detail{
	padding:0px;
	background-color:#fff;
	.content{
		padding:20px;
	}
	.title{
		font-size:20pt;
	}
	.cover-frame{
		width:100% !important;
		min-height:10em;
		background-color:#000;
		.cover{
			width:100%;
		}
	}
	.body{
		color:#696969;
	}
	.date{
		font-size:10pt;
		text-align:right;
	}
}

.content-toolbar{
	margin-top:20px;
	margin-bottom:10px;
}

.help{
	font-size:10pt;
	color:#696969;
}

.tag{
	margin-right:5px;
}

.badge-default{
	background-color:$default-color;
}

.link-toolbar{
	a{
		padding:7px;
	}
	a:hover{
		background-color:#e6e6e6;
	}
}

.footer{
	background-color:#1c1c1c !important;
	min-height:300px;
}